*{
    margin: 0;
    padding: 0;
}
#heading{
    color:white;
    display: inline;
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}
.head {
    display: flex;
    justify-content: center; /* Horizontally center */
  }

 body{
    background-color:#76818E;
    text-align: center;
 }

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    gap:1.5vmin;
    justify-content: center;
    align-items: center;
 
}

.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    gap:1.5vmin;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
}

#messagecontainer{
    color:black;
    font-style: italic;
    font-size: x-large;
    text-decoration: solid;
}
p
{
    color:whitesmoke;
    font-style: italic;
    font-size: 2rem;
    text-decoration: solid;
    margin-top: 2rem;
}
.box{
    font-size: 4rem;
    font-style: bold;
}

